# Directories and file types
__pycache__/

# Sphinx
docs/_build/
docs/api/resmda*
docs/savefig/
docs/gallery/*
docs/sg_execution_times.rst
examples/data/

# Pytest and coverage related
htmlcov
.coverage
.pytest_cache/

# setuptools_scm
resmda/version.py

# Build related
.eggs/
build/
dist/
resmda.egg-info/
