# Directories and file types
__pycache__/
*.nc
*.pdf
*.zip
*.nc
*.h5
*.pkl
*.png
*.jpg

# Sphinx
docs/_build/
docs/api/resmda*
docs/savefig/
docs/gallery/*
download/
docs/sg_execution_times.rst

# Pytest and coverage related
htmlcov
.coverage
.pytest_cache/

# setuptools_scm
resmda/version.py

# Build related
.eggs/
build/
dist/
resmda.egg-info/
