# Directories and file types
__pycache__/

# Sphinx
docs/_build/
docs/api/dageo*
docs/savefig/
docs/gallery/*
docs/sg_execution_times.rst
examples/data/

# Pytest and coverage related
htmlcov
.coverage
.pytest_cache/

# setuptools_scm
dageo/version.py

# Build related
.eggs/
build/
dist/
dageo.egg-info/
